# This .gitignore is appropriate for repositories deployed to GitHub Pages and using
# a Gemfile as specified at https://github.com/github/pages-gem#conventional

# Basic Jekyll gitignores (synchronize to Jekyll.gitignore)
output/
cache/
__pycache__/
.venv/
.python-version
*.pyc

*.env
*DOCS.md
*docs.md

